<div class="post">
  <div class="content">
    <h2 class="title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
    {{ body }}
  </div>
  <div class="meta">
  <span class="author">Tiago Luchini</span> &middot; <span class="date">{{ page.date | date: "%e"}} 
    <a href="/all.html#{{ page.date | date: "%Y%m" }}">{{ page.date | date: "%b"}}</a> 
    <a href="/all.html#{{ page.date | date: "%Y" }}">{{ page.date | date: "%Y"}}</a>
  </span>
  <span class="tags">
    {% for tag in page.topics %}
    &middot; <a href="/category/{{tag}}/">{{tag}}</a> 
    {% endfor %}
  </span>
  </div>
  <div id="footer" align="center">
    <a href="http://www.kopimi.com/kopimi"><img border="0" src="/images/kopimi.gif"></a>
  </div>
</div>
