html {
	overflow-y: scroll;
}

html, body { 
	height: 100%; 
	margin: 0; padding: 0 
}

/** BODY **/

body {
  background-image:url('../newsletter_3/img/bgBody.gif');
  background-repeat: repeat-x;
  background-color: #fff;
  background-attachment: fixed;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

/** COMMON **/

p {
	margin-bottom: 10px;
}

* + html p { 		 /** IE 7.0 filter **/
	margin-bottom: 5px;	
}

hr { 
  color: #c0c0c0;
  background-color: #c0c0c0;
  height: 1px;
  border-width: 0;
  clear: both;
  margin: 16px 0;
}

* + html hr {			/** IE 7.0 filter **/
	margin: 8px 0;
}

h2, h2 a {
	font-size: 15px;
	color: #999;
	text-decoration: none;
}

* + html h2 {
	margin-top: 0px;
}

h2 a:hover {
	text-decoration: underline;	
}

a {
	color: #000;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;	
}

img.left {
	float: left;
	margin-right: -6px; 
	margin-bottom: 12px;
}

img.right {
	float: right;
	margin-left: 8px;
	margin-bottom: 12px;
}

* + html img.left,
* + html img.right {
	margin-bottom: 0px;	
}

div.image_with_caption_right {
	float: right;	
	margin: 10px 0 10px 10px;
	font-family: Verdana;
	font-size: 11px;
}

/** CONTAINERS **/

#all {
	width: 760px;
	margin: 0 auto;	
}

#content {
	width: 620px;
	border: 1px solid #808080;
	border-width: 0 1px 0 1px;
	height: 100%;
	background-color: #fff;
	/* padding: 20px; */
}

#content * {
	padding: 0 20px;
}

#content * * {
	padding: 0 0;
}

/** NAVI **/

#navi {
	float: right;	
	color: #999;
	font-size: 11px;
	margin-top: 30px;
}

#navi p {
	padding-bottom: 10px;	
}

#navi a {
	color: #999;
	text-decoration: none;
}

#navi a:hover {
	text-decoration: underline;	
}

/** HEADER **/

#header {
	color: #50544b;
	font-size: 11px;
	padding: 20px 0 0 20px;
}

#footer, #footer a {
	color: #999999;	
	margin: 20px 0;
	padding-bottom: 20px;
}


